<div class="container-fluid">
  <div class="row mt-2" *ngIf="isNeedToken">
    <div class="col-4">
      <label for="token">You are unauthorized. Set your JWT Token</label>
    </div>
    <div class="col-6">
      <div class="form-group">
        <input type="text" class="form-control ml-2" id="token" [(ngModel)]="token">
      </div>
    </div>
    <div class="col-2">
      <button type="submit" class="btn btn-primary ml-2" (click)="setToken(token)">Set token</button>
    </div>
  </div>
</div>
<div class="container-fluid"  *ngIf="!isNeedToken">
<div class="row">
  <div class="col-12 row-padding">
    <button type="button" class="btn btn-primary" (click)="saveForm(form)">Save Form</button>
    <button type="button" class="btn btn-outline-danger">Clear Form</button>
  </div>
</div>
  <div class="row">
    <div class="col-6 row-padding">
      <label for="formName">Form Name</label>
      <input type="text" class="form-control" id="formName" aria-describedby="formName" [(ngModel)]="formName">
    </div>
  </div>
  <div class="row">
    <div class="col-9">
      <form-builder [form]="form" (change)="onChange($event)"></form-builder>
    </div>
    <div class="col-3">
      <h3>JSON of Form</h3>
      <div class="well jsonviewer">
        <pre id="json"><code class="language-json" #json></code></pre>
      </div>
    </div>
  </div>
</div>


